/target/
/lib/simpleminimap-daemon
/lib/simpleminimap-daemon.exe
*.log
*.swp
*.swo
.DS_Store

# Artifacts written by the vendored simplecore test suite on failure.
tests/*-errors.log
tests/*divergence.log
tests/core-not-executable

# Scratch help-tag directory written by tests/vim_doc.vim.
tests/vim-doc-tags/

# Fixtures written by tests/vim_overlays.vim.
tests/vim-overlay-*.txt
